# Системные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Окружение (Virtual Environments)
.env
.venv
env/
venv/
ENV/

# База данных и логи
db.sqlite3
db.sqlite3-journal
*.log

# Медиа и статика (пользовательский контент)
media/
# static/  <-- Раскомментируйте, если собираете статику через collectstatic в корень

# Расширения IDE
.idea/
.vscode/
*.swp
*.swo

# Распространение и сборка
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Тесты и отчеты
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.cache

# Файлы настроек (если создадите локальный конфиг)
local_settings.py